#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header{
  display: flex;
  flex-direction: column;
}
.crewCard:hover{
  scale:1.1;
}
.crewList{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
  align-items: center;

}
.crewCard{
  margin: 10px;
  background-color: #EDF7FA;
  width: 200px;
  height: 300px;
  color:black;
  cursor: pointer;
  top: 20vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: .75em;
  transition: all 0.2s ease-in-out;
}
.card {
  padding: 2em;
}
.spaceshipSection{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.spaceshipList{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;

}
.spaceshipCard:hover{
  scale:1.1;
}
.spaceshipCard{
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100px;
  padding: 3rem;
  cursor: pointer;
  transition: scale 150ms ease;
  user-select: none;
  background-color: aliceblue;
  color: #1a1a1a;
  border-radius:12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.currentCard{
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius:12px;
  background-color: #EDF7FA;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

